{
  "apiKeys": {
    "weather": {
      "apiKey": ""
    },
    "firebaseKeys": {
        "apiKey": "",
        "authDomain": "",
        "databaseURL": "",
        "projectId": "",
        "storageBucket": "",
        "messagingSenderId": ""
    }
  }
}
