body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  font-size: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 24px;
}

#current-day-button {
  margin: 20px;
}

#five-day-button {
  margin: 20px;
}

#current-day-card {
  text-align: center;
}

.navbar-header {
  width: 100%;
}

.five-day-cards {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 10px solid white;
  text-align: center;
  height: 500px;
}

.five-day-cards h3 {
color: white;
}

.current-day-card {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 10px solid white;
}
.current-day-card h1, h2, h3 {
  color: white;
}

img {
  height: 18%;
  width: 18%;
}
