body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  font-size: 30px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 24px;
}

#current-day-button {
  margin: 20px;
}

#five-day-button {
  margin: 20px;
}

#current-day-card {
  text-align: center;
}